:root {
    /* color */
    --light: #ffffff;
    --dark: #000000;
    --primary: #302E44;
    --secondary: #23E59F;
    --tertiary: #F5F5F5;
    /* font-family */
    --font-family-primary: "Montserrat";
    /* utils */
    --header-height: 90px;
    --testimony-item: 4;

}


.f-color_primary {
    color: var(--primary);
}

.f-color_secondary {
    color: var(--secondary);
}

.f-color_tertiary {
    color: var(--tertiary);
}

.f-color_light {
    color: var(--light);
}

.f-color_dark {
    color: var(--dark);
}

.f-h1 {
    font-family: var(--font-family-primary);
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
}

.f-h2 {
    font-family: var(--font-family-primary);
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;

}

.f-base {
    font-family: var(--font-family-primary);
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;

}

.f-400 {
    font-weight: 400;
}

.f-500 {
    font-weight: 500;
}

.f-600 {
    font-weight: 600;
}

.f-700 {
    font-weight: 700;
}

.f-center {
    text-align: center;
}

.f-underline {
    text-decoration: underline;
}

.c-btn {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 34px 0px rgba(0, 0, 0, 0.06);
    color: var(--primary);
    font-size: 14px;
    background: var(--secondary);
    width: 100%;
    font-weight: 700;
}

@media screen and (min-width:750px) {
    .c-btn {
        width: 237px;
    }

}

.c-btn:hover {
    background: #0BDA92;

}

.c-btn__light {
    background: var(--light);
}

.c-btn__light:hover {
    background: #F4F4F4;

}

.c-btn__dark {
    background: var(--primary);
    color: var(--light);
}

.c-btn__dark:hover {
    background: #232231;

}

.c-slider_btn {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    background: var(--light);

}

.c-slider_btn__dark {
    background: var(--primary);
}

.c-slider_btn:hover {
    background: #E6E6E6;

}

.c-slider_btn__dark:hover {
    background: #2A283A;
}

.c-slider_btn:disabled {
    opacity: 0.4;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: none;

}

::after,
::before {
    box-sizing: border-box;
}


ul,
ol {
    list-style: none;
}

svg {
    pointer-events: none;
    width: 100%;
    height: auto;
}

svg.icon {
    width: initial;
}

img {
    height: auto;
}

a,
button,
span {
    color: inherit;
    text-transform: inherit;
}

a {
    display: inline-block;
    word-wrap: break-word;
    text-decoration: none;
}

h1,
h2,
h3 {
    font-family: var(--font-family-primary);
}

button {
    cursor: pointer;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}


body {
    position: relative;
    font-family: var(--font-family-primary);

}

input::placeholder {
    font-size: 16px;
    color: var(--dark);
}

.m\:mb {
    margin-bottom: 1.875rem;
}

.m\:pt {
    padding-top: 1rem;
}

li>a {
    line-height: 1.5625rem;
}

.w-section_header {
    margin: 0 0 48px;
}

.email_input {
    padding: 20px;
    line-height: 187.5%;
    background: var(--light);
    border-radius: 5px;
    width: 100%;

}

/* Nav */
/* Hero */
.h-home {
    background: var(--primary);
    max-width: 1440px;
    margin: auto;
}

.h-home .h-tb {
    padding: 96px 0 0;
}

.w-hero {
    border-bottom: 1px solid rgba(255, 255, 255, 0.50);

}


.w-hero>.w-col,
.w-hero_svg {
    margin: auto;
    max-width: 500px;
}

.w-hero>.w-col {
    margin: 0 auto 48px;
}

.w-hero {
    padding: 0 24px;
}

.w-hero h1 {
    margin: 0 0 14px;
}

.w-hero_cta {
    padding: 32px 0 0;
}

.w-hero_footer {
    padding: 32px 24px;
}

.w-hero_footer .w--c-btn {
    display: flex;
    justify-content: center;
    align-self: center;
}

.w-hero_footer>.w-hero_stat {
    margin: 0 0 32px;
}

.w-hero_stat {
    max-width: 137px;

}

.w-hero_stat>div:first-child {
    font-size: 30px;
    font-weight: 700;
}

.w-hero_stat>div:last-child {
    font-size: 14px;
    font-weight: 400;
}

@media screen and (min-width:768px) {

    .w-hero,
    .w-hero_footer {
        display: flex;
        justify-content: space-between;
        padding: 0 64px;

    }

    .w-hero_footer {
        padding: 48px 64px;
    }

    .w-hero>.w-col {
        margin: 0 0 48px;
    }

    .w-hero_svg {
        margin: 0;
    }
}

/* Strength */
.l-strength {
    max-width: 1440px;
    margin: auto;
    position: relative;

}

.l-strength::before {
    content: '';
    height: 180px;
    position: absolute;
    background: var(--primary);
    width: 100%;
    top: 0;
    z-index: 1;
}

.l-strength::after {
    content: '';
    height: 100%;
    position: absolute;
    background: var(--tertiary);
    width: 20%;
    top: 0;
    right: 0;
    z-index: 0;
    max-width: 331px;
}

.l-strength .l-rl {
    padding: 0 8.3333%;

}

.w-strength_header {
    margin: 0 0 48px;
}

.w-strength_header h1 {
    margin: 0 0 14px;
}

.w-strength_header p {
    max-width: 856px;
    margin: auto;
}


.w-strength {
    position: relative;
    z-index: 2;
    background: var(--light);
    border-radius: 10px 10px 0 0;
    padding: 32px 10px 0;

}

.card-strength {
    border: 1px solid #D9D9D9;
    opacity: 0.84;
    border-radius: 10px;
    padding: 20px;
    height: 100%;

}

.card-strength__dark {
    background: var(--primary);
    color: var(--light);
}

.w-strength_icon {
    width: 70px;
    margin: 0 0 20px;
}

.strength_title {
    margin: 0 0 10px;
}

.card-strength>.w--c-btn {
    padding: 32px 0 0;
}

@media screen and (min-width:490px) {
    .w-strength {
        padding: 72px 0 0;
    }

    .w-strength_list {
        display: grid;
        gap: 24px;
        grid-template-columns: repeat(3, 1fr);
    }
}

/* About */

/* Video Player */
.l-video_player {
    margin: auto;
    max-width: 1440px;

}


.w-video_player {
    position: relative;
}

.w-video_player>img {
    width: 100%;
    object-fit: cover;
}

.w-video_player_icon {
    width: 93px;
    height: 93px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 5px;
}

/* Trial */
.l-trial {
    background: var(--tertiary);
    max-width: 1440px;
    margin: auto;
}

.l-trial .l-rl {
    padding: 0 8.3333%;

}

.w-trial {
    background: var(--primary);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
    padding: 20px;
    position: relative;

    @media screen and (min-width:760px) {
        display: flex;
        padding: 70px 48px 0 96px;

    }
}

.w-trial_content {
    max-width: 522px;

    @media screen and (min-width:760px) {
        margin: 0 0 92px;

    }
}

.trial_heading {
    margin: 0 0 14px;

}

.w-trial .w--c-btn {
    padding: 32px 0 0;
}

.w-trial::after {
    content: '';
    position: absolute;
    background: var(--light);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    bottom: 0;
    right: 0;
    z-index: 0;
    transform: translate(20%, 20%);

}

.w-trial_svg {
    align-self: flex-end;
    position: relative;
    z-index: 2;
}

/* Testimony */
.l-testimony {
    background: var(--tertiary);
    max-width: 1440px;
    margin: auto;
}

.l-testimony .l-tb {
    padding: 96px 0 0;
}

.l-testimony .l-rl {
    padding: 0 8.3333%;

}

.w-testimony>.w-col {
    padding: 32px 0 0;
}

.testimony_heading {
    max-width: 250px;
}

.w-testimony_svg {
    max-width: 525.11px;
    margin: auto;
}

.testimony {
    white-space: pre-line;
}

.company_logo {
    margin: 0 0 32px;
}

/* FAQ */
.l-faq .l-tb {
    padding: 96px 0 0;
}

.l-faq .l-rl {
    padding: 0 8.3333%;
    max-width: 1440px;
    margin: auto;
}



.card-question {
    padding: 20px;
    background: #B3F9E0;
}

.card-question__dark {
    background: var(--primary);
}

.card-question__grey {
    background: var(--tertiary);
}

.question {
    margin: 0 0 20px;
}
.w-faq_svg{
    max-width: 378px;
    align-self: flex-end;
}
@media screen and (min-width:768px) {
    .w-question_list,.w-faq_footer {
        display: flex;
        justify-content: space-between;
    }
    .w-question_list > div {
        width: calc((100% - 48px) / 3  );
    }
}

/* Article */
.l-article {
    max-width: 1440px;
    margin: auto;
    background: var(--primary);
}

.l-article .l-tb {
    padding: 96px 0;
}

.l-article .l-rl {
    padding: 0 8.3333%;


}

.l-article .w--c-btn {
    padding: 32px 0 0;
    display: flex;
    justify-content: center;
}

.w-article_header h1 {
    max-width: 506px;
}

.w-article_list {
    @media screen and (min-width: 490px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;

    }

    @media screen and (min-width: 1024px) {
        grid-template-columns: repeat(4, 1fr);


    }
}

.card-article>img {
    width: 100%;
    margin: 0 0 10px;
}

.article_category {
    padding: 12px 0 0;
}

.article_title {
    padding: 4px 0 0;
    margin: 0 0 14px;
}

/* Expert */

.l-expert .l-tb {
    padding: 96px 0;
}

.l-expert .l-rl {
    padding: 0 8.3333%;
    max-width: 1440px;
    margin: auto;

}

.w-expert_list {
    @media screen and (min-width: 490px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;

    }

    @media screen and (min-width: 760px) {
        grid-template-columns: repeat(3, 1fr);

    }

    @media screen and (min-width: 1024px) {
        grid-template-columns: repeat(4, 1fr);


    }
}

.w-expert_img {
    position: relative;
}

.expert_img {
    width: 100%;

}

.expert_name {
    padding: 14px 0 0;
    font-size: 1.25rem;

}

.expert_role {
    font-size: 1rem;
}

.expert_testimony_cta {
    position: absolute;
    bottom: 0;
    background: var(--primary);
    padding: 20px;
    left: 0;
    width: 100%;
    color: var(--light);
    font-weight: 700;
}

/* Newsletter */
.l-newsletter .l-tb {
    padding: 0 0 96px;
}

.l-newsletter .l-rl {
    padding: 0 8.3333%;
    max-width: 1440px;
    margin: auto;
}

.w-newsletter {
    background: var(--tertiary);
    border-bottom-left-radius: 50px;
    padding: 20px;
    position: relative;

    @media screen and (min-width:760px) {
        display: flex;
        padding: 70px 48px 0 96px;

    }
}

.w-newsletter_content {
    max-width: 522px;

    @media screen and (min-width:760px) {
        margin: 0 0 92px;

    }
}

.w-newsletter::after {
    content: '';
    position: absolute;
    background: var(--light);
    width: 90px;
    height: 90px;
    border-radius: 50%;
    bottom: 0;
    right: 0;
    z-index: 0;
    transform: translate(20%, 20%);

}

@media screen and (min-width:760px) {
    .email_input {
        max-width: 391px;
    }

    .w-newsletter::after {

        width: 200px;
        height: 200px;
    }
}

.newsletter_heading {
    margin: 0 0 14px;
    max-width: 535px;
}

.w-input {
    padding: 32px 0 0;

}

.w-checkbox {
    display: flex;

}

.w-checkbox>input {
    margin: 0 18px 0 0;
}

.w-newsletter_svg {
    position: relative;
    z-index: 1;
    padding: 12px 24px 0;
    max-width: 459px;

    @media screen and (min-width:760px) {
        align-self: flex-end;

    }
}


/* Footer */
#footer {
    background: var(--primary);
}

#footer .l-tb {
    padding: 3.125rem 0;

    @media screen and (min-width: 1024px) {
        padding: 8rem 0;

    }
}

#footer .l-rl {
    padding: 0 8.3333%;
    max-width: 540px;
    margin: auto;

    @media screen and (min-width: 1024px) {
        max-width: 1440px;


    }
}

.c-logo_footer img {
    width: initial;
}

.footer_nav__secondary>*+* {
    padding: 24px 0 0;
}

.w-footer_nav_category>h3 {
    margin-bottom: .625rem;
}

@media screen and (min-width: 1024px) {

    #footer .d\:flex {
        display: flex;
    }

    .w-footer_header {
        align-items: center;
    }

    .w-footer_header,
    .footer_nav {
        justify-content: space-between;
    }

    .footer_nav__secondary>*+* {
        padding: 0 0 0 50px;

    }

    .ul-footer_nav_tertiary>*+* {
        padding: 0 0 0 60px;
    }

}